[submodule "zsh/theme/powerlevel"]
	path = zsh/theme/powerlevel
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/completion"]
	path = zsh/completion
	url = https://github.com/zsh-users/zsh-completions.git
